[data-theme="light"],
:root:not([data-theme="dark"]) {
  --my-boxshadow-color: #E8E4E8;
  --my-border-color: #E8E4E8;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --my-boxshadow-color: #2D2B2D;
    --my-border-color: #2D2B2D;
  }
}

[data-theme="dark"] {
    --my-boxshadow-color: #2D2B2D;
    --my-border-color: #2D2B2D;
}

img {
    box-shadow: 5px 5px 2px var(--my-boxshadow-color);
    border: 1px solid var(--my-border-color);
    border-style: inset;
}